@import "~bootstrap/scss/bootstrap";

.main-header h1 {
  font-size: 1.8rem;
}

.login-card {
  width: 400px;
}

h1 {
  font-size: 1.4rem;
}

.card-actions {
  margin-top: -3px;
  margin-bottom: -3px;
}

.news-delete {
  float: right;
  margin-top: -39px;
}